@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 98vw; /* Larghezza del contenitore uguale alla larghezza della finestra */
    height: 90vh; /* Altezza del contenitore uguale all'altezza della finestra */
    border: 2px solid #000;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.draggable {
    width: 80px; /* Larghezza dell'immagine */
    height: 100px; /* Altezza totale (immagine + testo) */
    position: absolute;
    cursor: grab;
}

.draggable:active {
    cursor: grabbing;
}

div.draggable {
    text-align: center; /* Centra il testo all'interno del paragrafo */
}

#toggleButton, #output {
    display: inline-block; /* Permette di affiancare gli elementi */
    margin-right: 10px; /* Spazio tra il pulsante e il div */
}
